---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
renderData:
  title: {{ tag }}
permalink: /{{ tag }}/
---
{% set postslist = collections[ tag ] %}

<h1>{{ tag | capitalize}}</h1>

{% if 'muziek' in tag %}
  {% include "muzieklist.njk" %}
{% else %}
  {% include "postslist.njk" %}
{% endif %}

{# <p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p> #}
